.mymodal_estimates
    max-width: 548px
    .mymodal__content
        padding-left: 25px
        padding-right: 25px
        padding-bottom: 0
    .title_damage
        font-size: 10px
        color: #000
        font-weight: 700

.mymodal_services
    max-width: 945px
    
.extimates__car
    width: 100%
    background: url("#{$img-path}/estimates-center-car.png") center / contain no-repeat
    margin: -26px 0
    position: relative
    &::after
        content: ''
        display: block
        padding-bottom: (416.59/218)*100%

.estimates__wrapper
    flex: 0 0 22.89%
    max-width: 22.89%

.estimates__wrapper_2
    flex: 0 0 48.193%
    max-width: 48.193%
    
.estimates__item
    margin-bottom: 26px

.estimates-temp
    background-color: $color-red
    padding: 7px 12px
    border-radius: $default-radius
    color: #fff
    &.disabled
        background-color: $color-gray