.btn
    padding: 5px 15px
    font-size: inherit
    border-radius: $default-radius

.btn_fill
    background-color: $color-red
    color: $color-light
    box-shadow: none
    &:hover
        background-color: $color-red-dark
        color: $color-light

.btn_outline
    border-color: $color-red-dark
    color: $color-red-dark
    &:hover
        color: $color-red-dark
        border-color: $color-light
        background-color: $color-light
        filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.15))
