.auth__logo
    display: block
    height: 75px
    position: absolute
    top: 12.5vh
    left: 50%
    transform: translateX(-50%)

.auth__logo_small
    height: 34px
    top: 41px
    
.auth__content
    width: 100%

.auth__inner
    padding: 36px 16px 16px
    
.auth__item
    max-width: 240px
    margin-left: auto
    margin-right: auto
    margin-bottom: 0.75rem