.page-title__icon
    width: 42px
    height: 30px
    .img
        max-width: 90%
        max-height: 100%
        object-fit: contain

.page-entering
    min-height: 100vh
    display: flex
    flex-wrap: wrap
    align-items: center

.page-entering__logo
    display: block
    margin-left: auto
    margin-right: auto