.dashboard__total-stats-wrapper
    max-width: 300px
    padding-left: 1.5rem
    
.dashboard__total-stats
    max-width: 200px
    margin: auto

.dashboard__btn
    padding: 4px 12px
    border-bottom: 1px solid transparent
    &.active
        border-bottom-color: $color-red