#notifications
    padding: 24px 0

.notifications__grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr))
    gap: 34px
    padding: 46px 43px

.notifications__description
    line-height: 1.2

.notifications__title
    font-size: 20px
    text-align: left
    margin-bottom: 0
    margin-left: 13px
    
.notifications__add
    color: #D3D3D3

.notifications-template
    display: none