.header
    padding: 15px 12px
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.05)
    background-color: #fff
    position: fixed
    top: 0
    right: 0    
    width: calc(100% - 68px)
    transition: width 0.2s
    z-index: 2

.header__search
    width: 208px
    .loading
        display: none
        width: 14px
        height: 14px
    .ui-autocomplete-loading
        & + .input__icon .loading
            display: block
        & + .input__icon_magnify
            background: #f8f8f8
        
.header__item
    width: 28px
    height: 28px
    position: relative

.dot-active
    display: block
    width: 9px
    height: 9px
    border-radius: 50%
    background-color: $color-red
    border: 2px solid $color-light
    position: absolute
    top: 2px
    right: 2px

.dot-active_bottom
    top: auto
    bottom: -2px
    right: 0
    
.header__icon
    display: block
    width: 100%
    height: 100%

.header__icon_bell
    background: url("#{$img-path}/icons/header-bell.svg") center / 14px 17px no-repeat

.header__icon_messages
    background: url("#{$img-path}/icons/header-messages.svg") center / 17px 18px no-repeat
    
.header__profile-dropdown
    left: auto
    right: 14px // half of profile avatar's width
    transform: none

// search autocomplete
.ui-autocomplete
    max-width: 208px
    max-height: Min(calc(100vh - 50px), 300px)
    overflow: auto
    overscroll-behavior: contain
    .col
        min-width: 0
    
.search-title
    font-size: 13px
    color: #90A0B7
    line-height: 1.2
    margin-bottom: 0
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    
.search-description
    font-size: 10px
    margin-bottom: 0
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    
.search-item
    border: 1px solid transparent
    margin-bottom: 2px
    &.ui-state-active
        border-color: $color-red