.main
    margin-left: 68px
    transition: margin $transition ease

.sidebar
    position: fixed
    width: 68px
    height: 100%
    padding: 1rem 0.75rem
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06)
    background-color: #fff
    overflow-y: auto
    overflow-x: hidden
    transition: width $transition ease, padding $transition ease
    &:hover,
    &.active
        width: 256px
        padding: 1rem 1.5rem
    .logo
        display: block
        margin-bottom: 30px
    .user
        margin-bottom: 32px

.sidebar
    &.active,
    &:hover
        & + .main
            margin-left: 256px