.main
    margin-left: 0

.main-content
    padding: 0
    
.mob-overlay
    display: none
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    overscroll-behavior: contain
    background-color: rgba(#000, 0.2)
    z-index: 2
    &.active
        display: block
        
.title_page
    font-size: 1rem

.page-title__icon
    width: 24px
    height: 18px