.tab__header
    border: 1px solid $color-blue-light
    border-bottom: 0
    
.tab__item
    padding: 8px
    display: block
    text-align: center
    border-bottom: 5px solid transparent
    &.active
        border-bottom-color: $color-red
    
.tab__header_sub
    .tab__item
        border: 0
        padding: 2px
        color: $color-blue-light
        &.active
            color: #fff
            &.active_red
                background-color: $color-red
            &.active_green
                background-color: $color-green

.tab__body
    border: 1px solid $color-blue-light
