.statistics
    background: $color-light
    border: 1px solid $color-blue-lighter
    border-radius: $default-radius
    padding: 23px 22px
    
.statistics__list
    padding: 28px 0
    
.statistics__wrapper
    flex: 0 0 (271/1285*100%)
    max-width: 271/1285*100%
    
.statistics__value
    font-size: 50px
    line-height: 0.8
    font-weight: 700
    margin-right: 12px

.statistics__label
    font-size: $small-size
    color: $color-blue-dark
    line-height: 1.2
    display: inline-block
    padding-top: 5px